AWS_ACCESS_KEY_ID=our_okahu_aws_access_key_here
AWS_SECRET_ACCESS_KEY=our_okahu_aws_secret_access_key_here
AWS_REGION=our_okahu_aws_region_here
SAGEMAKER_ENDPOINT_NAME=our_okahu_sagemaker_endpoint_name_here
OKAHU_API_KEY=your_okahu_api_key_here
OKAHU_INGESTION_ENDPOINT=your_okahu_ingestion_endpoint_here
MONOCLE_EXPORTER=file,okahu